body{
  height: 100vh;
}

.apple{
  margin-left: -100px;
  width: 60px;
  height: 60px;
  padding: 4px;
  border-radius: 50%;
  background-color: aliceblue;

}

.header{
  height: 80px;
}

.content{
  width: 100%;
  min-height: calc(100vh - 130px);
  background: aliceblue;
  padding: 35px;
}

.footer{
  background-color: dark;
  height: 50px;
  padding: 5px;
}

.flex{
  display: flex;
}


.loading{
  padding: 10px;
}




