* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: white,
}
.good{
    width: 450px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 100px 100px white;
}

.main-center{
    margin: 0 auto;
    text-align: center;
}

.pages{
        border: 1px black solid;
    margin: 10px;
    width: 450px;
    text-align: center;
    border-radius: 10px;
}

.description{
    margin: 50px auto;
    padding: 10px;
    box-shadow: 0 0 20px 1px black;
    background-color: aliceblue;
}

.add{
    display: block;
    width: 90px;
    height: 45px;
    margin: 200px 20px;

}